<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>297846778501-m3i6k2nulgp6ie1mm902vap2oc04e87m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297846778501-m3i6k2nulgp6ie1mm902vap2oc04e87m</string>
	<key>API_KEY</key>
	<string>AIzaSyAJuPP58c9tB4q3BXl5iYweygCjpzn_lpA</string>
	<key>GCM_SENDER_ID</key>
	<string>297846778501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frazile</string>
	<key>PROJECT_ID</key>
	<string>frazile-0511</string>
	<key>STORAGE_BUCKET</key>
	<string>frazile-0511.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297846778501:ios:dfecfbf71928920f</string>
	<key>DATABASE_URL</key>
	<string>https://frazile-0511.firebaseio.com</string>
</dict>
</plist>